/* ---------------------------------------- */
/*                  SHARED                  */
/* ---------------------------------------- */

html,
body {
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    background-color: rgba(24, 24, 24, 1);
}

/* ---------------------------------------- */
/*                 NAV COLOR                */
/* ---------------------------------------- */

:root {
    --first-color-nav: #ff2c569f;
    --second-color-nav: #1b1b1b;
    --hover-color-nav: #1e1e1e;
    --text-color-nav: #e6e6e6;
}
  
.nav-btn {
    color: var(--first-color-nav);
    cursor: pointer;  
}
  
.sidebar {
    background: var(--second-color-nav);
}
  
.sidebar p {
    color: var(--text-color-nav);
    background: var(--hover-color-nav);
}
  
nav ul {
    background: var(--second-color-nav);
}
  
nav ul li a {
    color: var(--text-color-nav);
}
  
nav ul li a:hover {
    color: var(--first-color-nav);
    background: var(--hover-color-nav);
    border-bottom-color: var(--first-color-nav);
}

nav ul ul li a {
    color: var(--text-color-nav);
}
  
/* ---------------------------------------- */
/*             SECTION CLIP-PATH            */
/* ---------------------------------------- */

.clip-path-title {
    padding: 10px 40px 180px 40px;
    height: 100vh;
    /* display: flex; */
    /* background-color: #fff; */
    background-image: url(../Images/Canada/canada-header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 5px;
}

/* ---------------------------------------- */
/*             SECTION PRACTICAL            */
/* ---------------------------------------- */

.practical-information-trip {
    margin: 20px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    background-color: #fff;
}

.practical-information-trip article{
    margin: 0 40px;
    width: 700px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.practical-information-trip article a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
}

.practical-information-trip article a:hover i {
    transform: scaleX(1.1);
    translate: 10px;
    transition: .5s;
}

.canada-plan img {
    margin: 20px 40px 40px 40px;
    width: 300px;
}

.canada-plan img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.canada-plan img:not(:hover) {
    transform: scale(1);
    transition: .5s;
}

.practical-logo img {
    margin-right: 20px;
    width: 60px;
}

/* ---------------------------------------- */
/*             SECTION ANIMATION            */
/* ---------------------------------------- */

.animate {
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    overflow: hidden;
    background-color: transparent;
    /* background-color: #fff; */
}

.scrollable {
    will-change: transform;
}

.animateBox {
    position: relative;
    width: 100%;
    height: 100vh;
}

.project {
    position: absolute;
    top: 200vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    mix-blend-mode: difference;
}

.project h1 {
    color: #fff;
    /* color: rgba(24, 24, 24, 1); */
    mix-blend-mode: difference;
}

.container {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    width: 40vw;
    /* filter: grayscale(100%); */
    will-change: transform;
    z-index: -1;
}

/* ---------------------------------------- */
/*            SECTION DESCRIPTION           */
/* ---------------------------------------- */

.description-trip {
    margin: 20px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #fff;
}

.description-trip article {
    margin-bottom: 10px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: justify;
}

.description-trip ul li {
    margin: 15px 0 15px -15px;
    padding: 0 10px;
    list-style: none;
}

.description-trip img {
    margin-left: 40px;
    width: 525px;
    /* width: 35vw; */
    border-radius: 5px;
}

.description-trip img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.description-trip img:not(:hover) {
    transform: scale(1);
    transition: .5s;
}

/* ---------------------------------------- */
/*           SECTION DESCRIPTION -R         */
/* ---------------------------------------- */

.description-trip-reverse {
    margin: 20px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse wrap;
    background-color: #fff;
}

.description-trip-reverse article {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: justify;
}

.description-trip-reverse ul li {
    margin: 15px 0 15px -15px;
    padding: 0 10px;
    list-style: none;
} 

.description-trip-reverse img {
    margin: 0 40px 20px 0;
    width: 525px;
    border-radius: 5px;
    /* filter: grayscale(100%); */
}

.description-trip-reverse img:hover {
    transform: scale(1.1);
    transition: .5s;
}

.description-trip-reverse img:not(:hover) {
    transform: scale(1);
    transition: .5s;
}

/* ---------------------------------------- */
/*                SECTION BAR               */
/* ---------------------------------------- */

.bar {
    padding: 25px 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
}

.bar-content {
    width: 100%;
    display: block;
    transform: translateX(100%);
    animation: move 30s linear infinite;
}

@keyframes move {
    to { transform: translateX(-800px); }
}

/* ---------------------------------------- */
/*               SECTION BLOG               */
/* ---------------------------------------- */

.blog-us {
    margin: 20px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #fff;
}

.blog-us-tab {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.blog-us-tab article {
    margin: 0 15px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.blog-us-tab img {
    margin-bottom: 10px;
    width: 400px;
}

.blog-us-tab article:hover {
    box-shadow: 0px 0px 50px rgba(100, 100, 100, .6);
    transition: .5s;
}

/* ---------------------------------------- */
/*               SECTION TRIP               */
/* ---------------------------------------- */

.about-trip {
    margin: 20px 0;
    padding: 40px 0;
    display: flex;
    justify-content: flex-start;
    background-image: url(../Images/Canada/canada-love.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-trip article {
    margin: 40px 30px;
    padding: 0 50px 30px 50px;
    width: 575px;
    background-color: #fff;
    border-radius: 5px;
    text-align: justify;
}

/* ---------------------------------------- */
/*                 Footer                   */
/* ---------------------------------------- */

footer {
    margin: 20px 0;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

form {
    margin: 0 40px 40px 40px;
    padding: 50px 100px;
    background-color: #fff;
    border-radius: 5px;
   display: flex; 
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
}

.form-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
}

form input {
    margin: 15px 0;
    padding: 10px;
}

form input[type=email] {
    width: 382px;
}

form input[type=submit] {
    margin: 40px 0;
    padding: 12px 20px;
    background-color: rgba(24, 24, 24, 1);
    backdrop-filter: blur(3px);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}
  
form input[type=submit]:hover {
    background-color: #c62242;
}

form textarea {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .description-trip img {
        margin: 0;
    }
    .description-trip-reverse img {
        margin: 0;
    }
}

@media screen and (max-width: 615px) {

    .clip-path-title {
        height: 80vh;
    }
    .canada-plan img {
        margin: 20px 40px 40px 40px;
        width: 200px;
    }
    .practical-logo img {
        margin-right: 20px;
        width: 7vw;
    }
    .animate {
        height: 50vh;
    }
    .project h1 {
        transform: translateY(-220px);
    }
    .animateBox:nth-child(6) {
        display: none;
    }
    .container {
        top: -20%;
    }
    .container img {
        width: 35vw;
    }
    .description-trip {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .description-trip article {
        width: auto;
    }
    .description-trip article h2 {
        margin: 2%;
        text-align: left;
    }
    .description-trip ul li {
        margin: 15px 0;
        padding: 5px;
    }
    .description-trip img {
        margin: 0;
        width: 80vw;
    }
    .description-trip-reverse {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .description-trip-reverse article {
        width: auto;
    }
    .description-trip-reverse article h2 {
        margin: 2%;
        text-align: left;
    }
    .description-trip-reverse ul li {
        margin: 15px 0;
        padding: 5px;
    }
    .description-trip-reverse img {
        margin: 15px 0;
        width: 80vw;
    }
    .about-trip {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-trip article {
        margin: 0;
        padding: 0 20px 30px 20px;
        width: 80vw;
    }
    .about-trip article h1 {
        margin: 2%;
        text-align: left;
    }
    .blog-us {
        margin: 0;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .blog-us-tab {
        display: flex;
        flex-direction: column;
    }
    .blog-us-tab article {
       margin: 0;
       width: 80vw;
       text-align: center;
    }
    .blog-us-tab img {
        width: 80vw;
    }
    footer {
        display: none;
    }
}